<!DOCTYPE html>
<html>

<head>
  <title>Page Align Center</title>
  <link href="https://fonts.googleapis.com/css?family=Viga&display=swap" rel="stylesheet">
  </link>
  <link rel="stylesheet" type="text/css" href="../../dependencies/bootstrap/bootstrap.min.css">
  </link>
  <link rel="stylesheet" type="text/css" href="../../dependencies/bootstrap-switch/bootstrap-switch.min.css">
  </link>
  <link rel="stylesheet" type="text/css" href="../../popup.css">
</link>

  <script src="../../dependencies/jquery-3.1.1.min.js"></script>
  <script src="../../dependencies/bootstrap/bootstrap.min.js"></script>
   <script src="../../dependencies/bootstrap-switch/bootstrap-switch.min.js"></script>
  <script src="../../dependencies/underscore-min.js"></script>
  <script src="../../helpers/helperCommon.js"></script>
  <script src="../../views/addNewSite/addNewSiteLib.js"></script>

  <script src="../../views/popup/popup.js"></script>
</head>

<body>
  <div class="container">
  <div id="noty-holder"></div>
<!--MAIN VIEW-->
    <section id="main-view-section-id">
      <div id="main-view-id" class="page-class-to-route">
        <div class="row">
          <div class="col-xs-3 pull-right">
            <div class="btn btn-default main-view-settings-button"
                 title="Settings" 
                 id="main-settings-btn-id"
            >
              &#9881;
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="value" id="range-value-id"
            style="
            text-shadow: white 14px 3px 3px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient( 68.8deg, rgba(174,33,255,1) 15.4%, rgba(255,33,33,1) 111.3% );
            "
            >0</div>
            <input type="range" min="0" max="50" step="1" value="0">
          </div>
        </div>
        <div class="row" style="margin-top:10%;">
          <div class="col-sm-12 text-center ">
            <div class="btn btn-default full-width main-view-add-new-site-button" 
                 title="Do Center Evertime For This Website" 
                 id="add-site-btn-id">
              &#10003;
            </div>
          </div>
        </div>
      </div>
    </section>
<!--SETTINGS-->
    <section id="settings-view-section-id">
      <div id="settings-view-id" class="display-none page-class-to-route" style="padding-top: 15px;">
        <div class="row">
              <div class="col-xs-2 text-center no-padding no-margin" id="settings-view-back-btn-id">
                <div class="btn btn-default btn-lg no-padding add-site-back-button" title="Back to Home">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="34" viewBox="0 0 24 24" fill="none"
                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-chevron-left">
                    <polyline points="15 18 9 12 15 6"></polyline>
                  </svg>
                </div>
              </div>    
            <div class="col-xs-8 no-padding no-margin text-center">
                <div class="full-width main-view-settings-label" 
                     title="Settings"  
                     id="settings-view-submit-id">
                   SETTINGS
                </div>
            </div>
         </div>
         <div class="row settings-view-row-element-style">
          <div class="col-md-6 text-center settings-view-set-element-label-style">Animate</div>
          <div class="col-md-6">
            <input type="checkbox" data-toggle="switch" data-size="mini" name="settings-view-animate-switch" />
          </div>
         </div>           
       </div>  
     </section>
<!--ADD NEW SITE-->
    <section id="add-new-site-view-section-id">
      <div id="add-site-view-id" class="display-none page-class-to-route">
        <div class="row">
              <div class="col-xs-2 text-center no-padding no-margin" id="add-site-view-back-btn-id">
                <div class="btn btn-default btn-lg no-padding add-site-back-button" title="Back to Home">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="34" viewBox="0 0 24 24" fill="none"
                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-chevron-left">
                    <polyline points="15 18 9 12 15 6"></polyline>
                  </svg>
                </div>
              </div>    
            <div class="col-xs-8 no-padding no-margin text-center">
                <div class="btn btn-default full-width add-site-add-submit-button" 
                     title="Do Center Evertime For This Website"  
                     id="add-site-submit-id">
                   SAVE
                </div>
            </div>
       </div>   
        <form id="add-new-site-form-id">
          <div class="form-group">
            <label class="sr-only" for="name">Alias</label>
            <div class="input-group">
              <input type="name" name="name" class="form-control add-new-site-form-input-style"  title="Anything That You Can Write"
                id="add-new-site-form-input-name-id">
              <div class="input-group-addon add-new-site-form-input-group-addon-style" title="Anything That You Can Write">ALIAS</div>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="url" title="Website">URL</label>
            <div class="input-group">
              <input type="text" name="keyword" class="form-control add-new-site-form-input-style"
                id="add-new-site-form-input-url-id" title="Without Route or Parameter">
              <div
                class="input-group-addon add-new-site-form-input-group-addon-style add-new-site-form-input-group-addon-style-url" title="Website">
                URL</div>
            </div>
          </div>

          <div class="row" >
              <div class="col-sm-12 text-center ">
                <div class="btn btn-default no-padding no-margin add-site-add-new-keyword-button"
                      title="Keyword New"
                      id="add-site-new-keyword-button-id">
                  +
                </div>
              </div>
          </div>    
          <ul class="list-group ul-list-group-keyword no-margin no-padding" 
              title=' "AND" Related Keywords For Selection of Website'
              id="add-site-keyword-list-id">
          </ul>
        </form>
      </div>
  </div>
  </section>

  </div>
</body>

</html>